<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDB54E6F22C3E3FA003E0489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB54E8322C3E3FD003E0489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB54E8E22C3E3FD003E0489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
